body {
    background-color: darkgrey;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f0d1eb;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(233, 119, 25, 0.1);
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
